@import 'mantine';

.container {
  display: flex;
  justify-content: flex-end;
  gap: rem(8);
}

.mobileNav {
  display: inline-flex;
  @media (min-width: rem(840)) {
    display: none;
  }
}

.hideSmallMobile {
  display: none;
  @media (min-width: rem(360)) {
    display: inline-flex;
  }
}
