@import 'mantine';

.meta {
  margin-bottom: rem(40);
  gap: rem(32);

  .entry {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: rem(4);
    color: var(--mantine-color-gray-6);
    transition: color var(--next-story-transition-timing) var(--next-story-transition-easing);

    &:not(.date):hover {
      color: var(--mantine-color-gray-8);
      @include dark {
        color: var(--mantine-color-gray-4);
      }
    }

    &.date {
      cursor: default;
    }
  }
}
