@import 'mantine';

.card {
  background-color: transparent;
  container: article_card / inline-size;
}

.meta {
  margin-top: rem(20);
  margin-bottom: rem(4);
  font-size: rem(14);
  color: var(--mantine-color-dark-3);

  .date {
    .long { display: none; }
    .short { display: none; }
    @container article_card (min-width: rem(210)) {
      .long { display: none; }
      .short { display: inline-block; }
    }
    @container article_card (min-width: rem(280)) {
      .long { display: inline-block; }
      .short { display: none; }
    }
  }
}

.title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  font-size: rem(18);
  margin-bottom: rem(8);
}

.author {
  font-size: rem(14);
  color: var(--mantine-color-dark-3);
}
