@import 'mantine';

section.intro {
  margin-bottom: rem(60);
}

.hero {
  display: block;
  width: 100%;
}

.description {
  display: block;
  width: 100%;
  margin-top: rem(32);
  padding: 0 rem(80);

  :global(.mantine-Text-root) {
    display: block;
    color: var(--mantine-color-dark-6);
    font-size: rem(18);
    width: 100%;
  }
}

.cover {
  display: block;
  width: 100%;
  height: rem(300);
  box-shadow: var(--mantine-shadow-lg);
}
