@import 'mantine';

.container {
  display: block;
  width: 100%;
  margin-top: rem(60);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(4);
  padding: rem(16) 0;
  margin-bottom: rem(16);
  font-size: rem(14);
  text-align: center;
  color: var(--mantine-color-gray-5);
  @include dark {
    color: var(--mantine-color-gray-7);
  }

  span {
    font-size: rem(20);
    font-weight: 300;
  }
}

.navigation {
  display: grid;
  grid-template-areas: 'legal' 'social';
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  align-items: center;
  gap: rem(24);
  width: 100%;
  padding: rem(32) var(--next-story-site-padding);
  background-color: var(--mantine-color-gray-0);
  @include dark {
    background-color: var(--mantine-color-gray-8);
  }

  @media (min-width: rem(840)) {
    padding: rem(16) var(--next-story-site-padding);
    grid-template-areas: 'legal social';
    grid-template-columns: auto min-content;
    grid-template-rows: auto;
    gap: rem(32);
  }
}

.legal {
  grid-area: legal;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: rem(840)) {
    justify-content: flex-start;
  }
}

.social {
  grid-area: social;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: rem(840)) {
    justify-content: flex-end;
  }
}
