@import 'mantine';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: rem(140) 0;
}

.errorType {
  display: inline-block;
  margin: 0 rem(20) 0 0;
  padding: 0 rem(23) 0 0;
  font-size: rem(24);
  font-weight: 500;
  vertical-align: top;
  line-height: rem(60);
  color: var(--mantine-color-gray-8);
  border-right: rem(1) solid var(--mantine-color-gray-3);
  @include dark {
    color: var(--mantine-color-gray-5);
    border-right: rem(1) solid var(--mantine-color-gray-8);
  }
}

.errorText {
  display: inline-block;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(60); 
  margin: 0;
  color: var(--mantine-color-gray-7);
  @include dark {
    color: var(--mantine-color-gray-6);    
  }
}
