@import 'mantine';

.main {
  display: block;
  width: 100%;
  padding: 0 var(--next-story-site-padding);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: rem(32);
  width: 100%;
  max-width: rem(1312);
  margin: 0 auto;

  @media (min-width: rem(480)) {
    gap: rem(32);
  }

  @media (min-width: rem(580)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: rem(1024)) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: rem(1392)) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.container {
  display: block;
  width: 100%;
  max-width: rem(1312);
  margin: 0 auto;
}

.intro {
  margin-bottom: rem(40);
  @media (min-width: rem(580)) {
    margin-bottom: rem(60);
  }
}

.pageTitle {
  --mantine-h1-font-size: rem(28);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: rem(24);
  @media (min-width: rem(580)) {
    --mantine-h1-font-size: rem(34);
    margin-bottom: rem(32);
  }
}

.cover {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: rem(200);
  box-shadow: var(--mantine-shadow-md);
  border-radius: var(--mantine-radius-lg);
  @media (min-width: rem(580)) {
    height: rem(300);
    box-shadow: var(--mantine-shadow-lg);
  }

  .image:global(.mantine-Image-root) {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.content {
  display: block;
  position: relative;

  p {
    max-width: rem(864);
    margin-left: auto;
    margin-right: auto;
    text-wrap: pretty;
    font-size: rem(18);
    color: var(--mantine-color-dark-8);
    @include dark {
      color: var(--mantine-color-dark-1);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: rem(864);
    margin-left: auto;
    margin-right: auto;
    text-wrap: pretty;
    color: var(--mantine-color-dark-9);
    @include dark {
      color: var(--mantine-color-dark-0);
    }
  }

  ul, ol {
    max-width: rem(864);
    margin-left: auto;
    margin-right: auto;

    li {
      text-wrap: pretty;
      font-size: rem(18);
      color: var(--mantine-color-dark-8);
      @include dark {
        color: var(--mantine-color-dark-1);
      }
    }
  }

  // Change spacing between elements.
  :where(p) {
    margin-bottom: calc(rem(4) + var(--mantine-spacing-lg));
  }

  :where(ul, ol):not([data-type='taskList']) {
    padding-inline-start: calc(rem(48) * var(--mantine-scale));
    margin-bottom: calc(rem(4) + var(--mantine-spacing-lg));
  }

  :where(p:has(+ ul), p:has(+ ol)):not([data-type='taskList']) {
    margin-bottom: var(--mantine-spacing-md);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    margin-top: calc(rem(20) + var(--mantine-spacing-xl));
    margin-bottom: calc(rem(4) + var(--mantine-spacing-lg));

    &:has(+ ul), &:has(+ ol) {
      margin-bottom: var(--mantine-spacing-md);
    }
  }
}
