@import 'mantine';

.drawer {
  --drawer-padding-v: rem(16);
  --drawer-padding-h: rem(32);
  --drawer-border-color: var(--mantine-color-gray-1);
  @include dark {
    --drawer-border-color: var(--mantine-color-dark-8);
  }

  :global(.mantine-Drawer-header) {
    padding: var(--drawer-padding-v, var(--mantine-spacing-md)) var(--drawer-padding-h, var(--mantine-spacing-md));
    padding-inline-end: calc(var(--drawer-padding-h, var(--mantine-spacing-md)) - calc(0.3125rem * var(--mantine-scale)));
    border-bottom: rem(1) solid var(--drawer-border-color);
  }
}

.drawerContent {
  display: block;
  padding: rem(24) rem(16);
}
