@import 'mantine';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: rem(4);
  width: 100%;
  @media (min-width: rem(360)) {
    justify-content: start;
    width: auto;
  }

  &:hover .labels {
    .default {
      opacity: 0;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      transform: translateY(rem(-34));
      @media (min-width: rem(360)) {
        transform: translateY(rem(-44));
      }
    }

    .hover {
      opacity: 1;
      width: auto;
      overflow: auto;
      visibility: visible;
      transform: translateY(rem(-34));
      @media (min-width: rem(360)) {
        transform: translateY(rem(-44));
      }
    }
  }
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  max-height: rem(44);
  overflow: hidden;
  cursor: pointer;
  font-size: rem(14);
  color: var(--mantine-color-gray-7);
  @media (min-width: rem(360)) {
    font-size: rem(16);
  }

  span {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
    height: 100%;
    min-height: rem(34);
    transition: all 140ms ease;
    @media (min-width: rem(360)) {
      min-height: rem(44);
    }
  }

  .default {
    opacity: 1;
    width: auto;
    overflow: auto;
    visibility: visible;
    transform: translateY(0);
  }

  .hover {
    opacity: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    transform: translateY(0);
  }
}
