@import 'mantine';

.container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto;
  align-items: center;
  margin-bottom: rem(16);
  padding: 0 rem(4);
  gap: rem(24);
}

.total {
  align-self: end;
  line-height: 1;
  font-size: rem(14);
  color: var(--mantine-color-gray-6);
}

.order {
  .chevron {
    color: var(--mantine-color-gray-6);
    transition: color var(--next-story-transition-timing) var(--next-story-transition-easing);
    &:hover, &.active {
      color: var(--mantine-color-gray-8);
    }
  }
}

.sort {
  :global(.mantine-Select-input) {
    color: var(--mantine-color-gray-7);
  }
}
