
.container {
  display: block;
  width: 100%;
  margin-top: rem(60);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(4);
  padding: rem(16) 0;
  margin-bottom: rem(16);
  font-size: rem(14);
  text-align: center;
  color: var(--mantine-color-gray-5);
  @include dark {
    color: var(--mantine-color-gray-7);
  }
  
  span {
    font-size: rem(20);
    font-weight: 300;
  }
}

.navigation {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto;
  align-items: center;
  gap: rem(32);
  width: 100%;
  padding: rem(16) var(--next-story-site-padding);
  background-color: var(--mantine-color-gray-0);
  @include dark {
    background-color: var(--mantine-color-gray-8);
  }
}

.legal {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  a {
    color: var(--mantine-color-gray-6);
    &:hover {
      color: var(--mantine-color-gray-7);
      @include dark {
        color: var(--mantine-color-gray-5);
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  a {
    color: var(--mantine-color-gray-6);
    &:hover {
      color: var(--mantine-color-gray-7);
      background-color: color-mix(
        in srgb, var(--mantine-color-gray-7) 12%, transparent
      );
      @include dark {
        color: var(--mantine-color-gray-5);
        background-color: color-mix(
          in srgb, var(--mantine-color-gray-5) 12%, transparent
        );
      }
    }
  }
}
