@import 'mantine';

.container {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: min-content;
  align-items: center;
  gap: rem(32);
  width: 100%;
  padding: var(--next-story-site-padding);

  .branding {
    display: block;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
}

